<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="outside">   
    <!-- Header -->
    <div class="container">
        <div class="header">
                <img class="header-pic" src="../images/mango.jpg">
                 <h2 class="header-h2">Project Super Team Presents...</h2>
                <h1 class="header-h1">The Grocery List App</h1>
        </div>
    </div>
 <!-- MainBody -->

 <div class="mainBody container">

    <div class="grid-list-container">

        <div class="grid-list1">
        <h2><%= user.userName %>, you have <%= left %> item(s) remaining on your list:</h2>
        </div>
    
        <div class="grid-list2 card-list">
        <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter a new item here..." name='todoItem'>
        <input type="submit" value="Submit">
        </form>
        <h2><i class="fa fa-arrow-right" aria-hidden="true"></i>Click on an item to cross it out.</h2>
        <h2><i class="fa fa-arrow-right" aria-hidden="true"></i>Click on the  <span class="fas fa-trash"></span> symbol next to an item to permanently delete it.</h2>
        <i class="fa fa-arrow-right" aria-hidden="true"><span>Click here to logout</span></i><a class="button-format" href="/logout">Logout</a>
        </div>
    
        <div class="grid-list3">
        <ul class="card-list">
            <% todos.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='del fas fa-trash'</span>
                        <!-- <span class='del'>Delete</span> <span class="fas fa-trash"></span></span> -->
                    </li>
            <% }) %>    
        </ul>
        </div>  

    </div>  <!--end class="grid-list-container"-->
  </div>  <!--end class="mainBody container"-->
   
  <!-- Footer-->
    <div class="container">
        <div class="footer">
                <img class="footer-pic" src="../images/artichoke-tiny.jpg">
                <p class="footer-p">Project Super Team &copy; 2022</p>
        </div>
    </div> 
</div>  

<script src="js/main.js"></script>
</body>
</html>
