<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Header -->
    <div class="container">
        <div class="header">
                <img class="header-pic" src="../images/mango.jpg">
                 <h2 class="header-h2">Project Super Team Presents...</h2>
                <h1 class="header-h1">The Grocery List App</h1>
        </div>
    </div>
 <!-- MainBody -->
 <div class="mainBody container">


    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
  </div>
   
    <!-- Footer-->
    <div class="container">
        <div class="footer">
                <img class="footer-pic" src="../images/artichoke-tiny.jpg">
                <p class="footer-p">Project Super Team &copy; 2022</p>
        </div>
    </div> 
</body>
</html>
